* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'plex-regular';
    src: url('./fonts/plex/IBM-Plex-Sans/fonts/complete/otf/IBMPlexSans-Regular.otf');
}
@font-face {
    font-family: 'plex-semibold';
    src: url('./fonts/plex/IBM-Plex-Sans/fonts/complete/otf/IBMPlexSans-SemiBold.otf');
}

textarea, input, button {
    outline: none;
}

body {
    font-family: 'plex-regular', Fallback, sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;

}
